@font-face {
  font-family: "myfont";
  src: url("../images/CodeNext-Trial-Bold.ttf");
}

* {
  box-sizing: border-box;
  font-family: "myfont";
}

:root {
  --accent-color: #fe5b00;
  --background-color: #f9ebe5;
}

body {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.person {
  height: 800px;
  width: 300px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: white;
  max-height: 90%;
  border-right: 0.15rem solid #fe5b00;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.person-header {
  height: 7.5%;
  width: 90%;
  padding-left: 2rem;
  border-radius: 50px;
  background-color: #eee;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.person-header input {
  outline: none;
  border: none;
  height: 90%;
  width: 80%;
  border-radius: 50px;
  background-color: #eee;
  color: black;
}
.person-header button {
  width: 18%;
  aspect-ratio: 1;
  outline: none;
  border: none;
  color: #fe5b00;
  font-size: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
}
.person-body {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
}
.person-body p {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 90%;
  height: 10%;
  background-color: #eee;
  color: black;
  border-radius: 20px;
}
.person-body p:hover {
  scale: 1.1;
  background-color: white;
  color: #fe5b00;
  border: 0.1rem solid #fe5b00;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 0 18px #000000;
  height: 800px;
  width: 600px;
  max-height: 90%;
}

.container p {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  margin: 20px;
  color: var(--accent-color);
  justify-content: center;
}

.avatar {
  background-color: #fff;
  align-self: center;
  padding: 5px;
  width: 65px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat {
  background-image: url("../images/background.jpeg");
  background-size: contain;
  height: 100%;
  position: relative;
  overflow-y: scroll;
  display: flex;
  justify-content: flex-end;
}

.message {
  top: 0%;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 254, 254, 0.76);
  padding: 2rem;
  overflow-y: auto;
}

.btn {
  display: flex;
  background-color: #eee;
  color: var(--accent-color);
  font-family: inherit;
  border: 0;
  border-radius: 50px;
  margin: 5px;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  transition: scale 0.2s ease;
  justify-content: space-evenly;
}
.btn input {
  outline: none;
  border: none;
  height: 90%;
  width: 86%;
  padding: 1rem;
  padding-left: 2rem;
  border-radius: 50px;
  background-color: #eee;
  color: black;
}
.btn-plane {
  height: 90%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.bubble {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
}
.para {
  max-width: 54%;
  height: auto;
  padding: 0.65rem;
  z-index: 9;
  background-color: #fe5b00;
  color: white;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  display: flex;
  justify-content: flex-end;
}
.right {
  display: flex;
  justify-content: flex-end;
}
.left {
  display: flex;
  justify-content: flex-start;
}
.right-p {
  border-bottom-left-radius: 1rem;
  background-color: #ffffff;
  border: 0.01rem solid #fe5b00;
  color: #fe5b00;
}
.left-p {
  border-bottom-right-radius: 1rem;
  border: 0.01rem solid white;
}
.btn-plane i {
  font-size: 1.35rem;
  color: #fe5b00;
}
.btn i {
  margin-left: auto;
}
.btn:focus {
  outline: none;
}

.btn:hover {
  scale: 1.01;
}

.btn:active {
  scale: 0.99;
}

/*=============== SCROLLBAR ===============*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 5px;
}

/*=============== MEDIA QUERY ===============*/

@media screen and (max-width: 650px) {
  .container {
    max-height: 100%;
    height: 100%;
    width: 100%;
  }
}
